.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  min-height: 282px;
  max-height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  align-items: center;
  color: black;
  padding: 25px 20px;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/like_button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  padding: 8px;
  cursor: pointer;
}

.card__like-button:hover {
  background: transparent url(../images/like_button-active.svg) center no-repeat;
}
