.card {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  min-height: 282px;
  max-height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  align-items: center;
  color: black;
  padding: 25px 20px;
  justify-content: space-between;
}

.card__delete-button {
  display: block;
  position: absolute;
  background: transparent url(../images/trash_icon.svg);
  border-style: none;
  cursor: pointer;
  width: 18px;
  height: 19px;
  top: 19px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 60%;
}

.card__like-button {
  background: transparent url(../images/like_button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  padding: 10px;
  cursor: pointer;
}

.card__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.card__like-button_active {
  background: transparent url(../images/like-active.svg) center no-repeat;
}

.card__like-button:hover {
  opacity: 60%;
}
