.header {
  padding: 45px 0 41px;
  border-bottom: solid 1px #545454;
}

.header__image {
  max-width: 173px;
}
@media screen and (max-width: 880px) {
  .header {
    padding: 28px 0 32px 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 28px 0 32px 17px;
  }

  .header__image {
    max-width: 126px;
  }
}
